{{extend 'layout.html'}}
<h2>{{=T( request.function.replace('_',' ').capitalize() )}}</h2>
<!--{{=form}}-->
<!--{{=BEAUTIFY(response._vars)}}-->
{{=form.custom.begin}}
    {{=DIV(TABLE(
                 TR(TD(T("First Name")+":"), TD(form.custom.widget.first_name)),
                 TR(TD(T("Middle Name")+":"), TD(form.custom.widget.middle_name)),
                 TR(TD(T("Last Name")+":"), TD(form.custom.widget.last_name)),
                 TR(TD(T("email")+":"), TD(form.custom.widget.email)),
                 TR(TD(T("Password")+":"), TD(form.custom.widget.password)),
                 TR(TD(T("Password Verification")+":"), TD(INPUT(_type='password', required=True, requires=[IS_EQUAL_TO(request.vars.password)]))),
                 TR(TD(T("Role")+":"), TD(form.custom.widget.role)),
                 TR(TD(T("Observations")+":"), TD(form.custom.widget.obs)),
                 TR(TD(), TD(form.custom.submit)),
                )
          )
    }}
{{=form.custom.end}}
