{{extend 'layout.html'}}
<h2>
    {{if db((db.parent.uid==auth.user.id)&(db.parent.student_id==db.auth_user.id)).select().first().auth_user.gender == "M":}}
    {{=T("Son's address")}}
    {{else:}}
    {{=T("Daugther's address")}}
    {{pass}}
</h2>
<h5>
    Si su
    {{if db((db.parent.uid==auth.user.id)&(db.parent.student_id==db.auth_user.id)).select().first().auth_user.gender == "M":}}
    {{=T("son")}}
    {{else:}}
    {{=T("daugther")}}
    {{pass}}
    vive con usted y/o con su 
    {{if auth.user.gender == "M":}}
    {{=T("mother")}}
    {{else:}}
    {{=T("father")}}
    {{pass}}
     seleccione su nombre de la lista.<br>
    Sino, agregue una nueva dirección.
</h5>
{{=form}}

<script>
    jQuery(document).ready(function(){
        jQuery('#no_table_street__row').hide();
        jQuery('#no_table_building__row').hide();
        jQuery('#no_table_floor__row').hide();
        jQuery('#no_table_door__row').hide();
        jQuery('#no_table_apartment__row').hide();
        jQuery('#no_table_street1__row').hide();
        jQuery('#no_table_street2__row').hide();
        jQuery('#no_table_zip_code__row').hide();
        jQuery('#no_table_loc__row').hide();
        jQuery('#no_table_prov__row').hide();
        jQuery('#no_table_obs__row').hide();
        jQuery('#no_table_lives_with').change(function(){
            if(jQuery('#no_table_lives_with').val()=="0")//"{{=T("Doesn't live with parents")}}")
            {
                jQuery('#no_table_street__row').show();
                jQuery('#no_table_building__row').show();
                jQuery('#no_table_floor__row').show();
                jQuery('#no_table_door__row').show();
                jQuery('#no_table_apartment__row').show();
                jQuery('#no_table_street1__row').show();
                jQuery('#no_table_street2__row').show();
                jQuery('#no_table_zip_code__row').show();
                jQuery('#no_table_loc__row').show();
                jQuery('#no_table_prov__row').show();
                jQuery('#no_table_obs__row').show();
            }
            else
            {
                jQuery('#no_table_street__row').hide();
                jQuery('#no_table_building__row').hide();
                jQuery('#no_table_floor__row').hide();
                jQuery('#no_table_door__row').hide();
                jQuery('#no_table_apartment__row').hide();
                jQuery('#no_table_street1__row').hide();
                jQuery('#no_table_street2__row').hide();
                jQuery('#no_table_zip_code__row').hide();
                jQuery('#no_table_loc__row').hide();
                jQuery('#no_table_prov__row').hide();
                jQuery('#no_table_obs__row').hide();
            }
        });

    });
</script>
<!--{{=BEAUTIFY(response._vars)}}-->
