{{extend 'layout.html'}}
<h2>
{{if auth.user.gender == "F":}}
{{=T("Mother Personal Data")}}
{{else:}}
{{=T("Father Personal Data")}}
{{pass}}
</h2>
<h5>
    Por favor complete sus datos personales.
    En el próximo formulario podrá completar los datos {{if auth.user.gender == T("Female"):}}
    {{="del padre."}}
    {{else:}}
    {{="de la madre."}}
    {{pass}}
    Y luego los datos de su hijo.
</h5>
<hr>
<h3>
    {{=name}}
</h3>
{{=form}}
<!--{{=BEAUTIFY(response._vars)}}-->

<!--## Oculta los campos de Avatar, Perfil de Twitter y Perfil de Facebook-->
<script>
	{{## Oculta los campos de Avatar, Perfil de Twitter y Perfil de Facebook}}
    jQuery(document).ready(function(){
        jQuery('#no_table_avatar__row').hide();
        jQuery('#no_table_twitter__row').hide();
		jQuery('#no_table_facebook__row').hide();
	})
</script>
