{{extend 'layout.html'}}
<h2>{{=T( request.function.replace('_',' ').capitalize() )}}</h2>
<p>Para un registro más simple se le asignó que su contraseña sea su número de documento.<br/>
Ahora, por cuestiones de seguridad le pedimos que cambie su contraseña por una más segura.</p>
<p>
    El campo de nueva contraseña cambiará de color de acuerdo al nivel de seguridad que su nueva contraseña puede dar.<br/>
    Cuando el color sea verde la contraseña es lo suficientemente segura.
</p>
<hr>
<div id="father_pwd_form">
{{=form}}
</div>
<!--{{=BEAUTIFY(request.vars)}}-->
<script language="javascript">
jQuery("#father_pwd_form input:visible:enabled:first").focus();
web2py_validate_entropy(jQuery('#no_table_new_password'),100);
</script>
