{{extend 'layout.html'}}
<h2>
{{if auth.user.gender == "F":}}
{{=T("Father Personal Data")}}
{{else:}}
{{=T("Mother Personal Data")}}
{{pass}}
</h2>
<h5>
    Por favor complete los datos personales {{if auth.user.gender == "F":}}
    {{="del padre."}}
    {{else:}}
    {{="de la madre."}}
    {{pass}}
    En el próximo formulario podrá completar los datos de su hijo.
</h5>
{{=button}}
<hr>
{{=form}}
<!--{{=BEAUTIFY(response._vars)}}-->
<script>
    jQuery(document).ready(function(){
        jQuery('#no_table_email__row').show();
        jQuery('#no_table_mail2__row').show();
        jQuery('#no_table_enabled').change(function(){
            if(jQuery('#no_table_enabled').is(':checked'))
            {
                jQuery('#no_table_email__row').show();
                jQuery('#no_table_mail2__row').show();
            }
            else
            {
                jQuery('#no_table_email__row').hide();
                jQuery('#no_table_mail2__row').hide();
            }
        });
    });
</script>
<script>
	{{## Oculta los campos de Avatar, Perfil de Twitter y Perfil de Facebook}}
    jQuery(document).ready(function(){
        jQuery('#no_table_avatar__row').hide();
        jQuery('#no_table_twitter__row').hide();
		jQuery('#no_table_facebook__row').hide();
	})
</script>
